@tailwind base;

@tailwind components;

@tailwind utilities;


:root {
  --primary-color: #2A2C36;
  --secondary-color: #D5A418; 
  --lift-color: #333642;
}

body {
  background-color: var(--primary-color);
}

* {
  font-family: 'Roboto Mono', Consolas,  monospace;
}
